@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img class="banner" src="Images/DinoDiner-32.png"/>
<a asp-page="Menu">Menu</a>
<a asp-page="PrivacyPolicy">Privacy Policy</a>
<a asp-page="About">About</a>