@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<img class="banner" src="DinoDiner-32.png" />

<div class="menu-selection">
    <a asp-page="Menu">Menu</a>
    <a asp-page="PrivacyPolicy">Privacy Policy</a>
    <a asp-page="About">About</a>
</div>
