/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.menu-item{
    padding-left: 1em;
}

.banner{
    width: 40%;
    padding-left: 200px;
}
.Menu{
    font-family:'Comic Sans MS';
    align-content: center;
}

.menu-selection{
    padding-left: 200px;
}
.item{
    border: dotted; 
    align-items: center;
    padding: 30px;
    padding-left: 300px;
}
.ingredients{
    align-content:flex-end;
    padding-left: 30px;
    border-left: solid;
}
.details{
    border-top: thin;
    border-bottom: thin;
    border: thick;
}
.Combo{
    background-color: lightblue;
    align-content:center;
}
.Entrees{
    background-color: lightsteelblue;
}

.Sides{
    background-color: lightyellow;
}

.Drinks{
    background-color: lightcoral;
}
.content{
    display: flex;
    flex-direction: row;
}

.menu-category {
    display: flex;
    flex-direction: column;
}
